// about section
section#about.pb-0.about
  .about-chat
    .container
      .row
        .col-md-12.text-center
          .section-title
            h2  About Chat Loop
            .line
        .col-md-12.about-box
          .row
            .col-lg-3.col-sm-6.about-border
              .chat-box                           
                img(src= img+'stay-connected.png', alt='stay-connected')
                h3.sub-title Stay Connected
            .col-lg-3.col-sm-6.about-border
              .chat-box
                img(src= img+'get-notified.png', alt='get-notified')
                h3.sub-title  Get Notified
            .col-lg-3.col-sm-6.about-border
              .chat-box
                img(src= img+'stay-updated.png', alt='stay-updated')
                h3.sub-title Stay Updated
            .col-lg-3.col-sm-6
              .chat-box
                img(src= img+'mini-world.png', alt='mini-world')
                h3.sub-title Mini World
        .col-md-12
          .chat-slide
            h3 Connect with People all over the world , with your small device
  .container-fluid.text-center
    img.img-fluid.full-banner(src=img+'banner.png', alt='banner.png')
// end about section
