// news section
section#news.team-bg
      .animation-circle-inverse
        i
        i
        i
      .container
        .row
          .col-md-8.offset-md-2.text-center
            .section-title
              h2 Our Recent Blog
              .line
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem voluptatem obcaecati!
                | ipsum dolor sit Rem autem voluptatem obcaecati
          .col-md-12
            .news-slider.owl-carousel.owl-theme
              .item.news-slid
                .news-box
                  a(href='blog-details.html')
                    img.img-fluid(src='../../assets/images/blog/1.jpg', alt='news-1')
                  .blog-hover
                    h4 lorem ipsum dolor sit amet
                    ul.list-inline.blog-details-list
                      li
                        a(href='#') John Doe
                      li
                        a(href='#') 1 Oct
                      li
                        a(href='#') 25 comments
                      li
                        a(href='#') 3 View
                .news-text
                  p
                    | lorem ipsum dolor sit amet, consecteturamet adipisicing elit, tempor incididunt ut labore. lorem ipsum dolor sit amet.
                  a.btn-theme(href='blog-details.html') View more
              .item.news-slid
                .news-box
                  a(href='blog-details.html')
                    img.img-fluid(src='../../assets/images/blog/2.jpg', alt='news-1')
                  .blog-hover
                    h4 lorem ipsum dolor sit amet
                    ul.list-inline.blog-details-list
                      li
                        a(href='#') John Doe
                      li
                        a(href='#') 2 Oct
                      li
                        a(href='#') 25 comments
                      li
                        a(href='#') 3 View
                .news-text
                  p
                    | lorem ipsum dolor sit amet, consecteturamet adipisicing elit, tempor incididunt ut labore. lorem ipsum dolor sit amet.
                  a.btn-theme(href='blog-details.html') View more
              .item.news-slid
                .news-box
                  a(href='blog-details.html')
                    img.img-fluid(src='../../assets/images/blog/3.jpg', alt='news-1')
                  .blog-hover
                    h4 lorem ipsum dolor sit amet
                    ul.list-inline.blog-details-list
                      li
                        a(href='#') John Doe
                      li
                        a(href='#') 3 Oct
                      li
                        a(href='#') 25 comments
                      li
                        a(href='#') 3 View
                .news-text
                  p
                    | lorem ipsum dolor sit amet, consecteturamet adipisicing elit, tempor incididunt ut labore. lorem ipsum dolor sit amet.
                  a.btn-theme(href='blog-details.html') View more
// end news section