// Feature section
section#feature.theme-bg.feature
      .container
        .animation-circle-inverse
          i
          i
          i
        .row
          .col-md-12.text-center
            .section-title
              h2.text-white Chat Loop Feature
              .line.white
          .col-lg-4.col-sm-6
            .future-box
              .future-timeline
                ul
                  li.timeline
                    h4.sub-title Easy Installation
                    p Lorem Ipsum has been the industry's
                  li.timeline
                    h4.sub-title Multi Platform Chat App
                    p Lorem Ipsum has been the industry's
                  li.timeline
                    h4.sub-title Secure Backup & Recovery
                    p Many desktop publishing packages
                  li.timeline
                    h4.sub-title Easy File Sharing
                    p Lorem Ipsum has been the industry's
          .col-md-4.future-mobile
            img.img-fluid(src=img+'feature-mob.png', alt='feature-mob')
          .col-lg-4.col-sm-6
            .future-box
              .future-timeline-right
                ul.text-left
                  li.timeline-right
                    h4 Easy Installation
                    p Lorem Ipsum has been the industry's
                  li.timeline-right
                    h4 Multi Platform Chat App
                    p Lorem Ipsum has been the industry's
                  li.timeline-right
                    h4 Secure Backup & Recovery
                    p Many desktop publishing packages
                  li.timeline-right
                    h4 Easy File Sharing
                    p Lorem Ipsum has been the industry's
// end Feature section