// slider-section
section#home.slide-bg
      .animation-circle
        i
        i
        i
      .container
        .row
          .col-md-6
            .d-flex-1
              .slide-text
                div
                  h1
                    | The best way to connect with your friends is with
                    span.main-title   ChatLoop!
                  h4 Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  .slid-btn
                    a(href='#')
                      img.img-fluid(src= img +'app1.png', alt='app1', data-tilt='', data-tilt-perspective='50', data-tilt-speed='350', data-tilt-max='1.8')
                    a(href='#')
                      img.img-fluid(src= img +'app2.png', alt='app2', data-tilt='', data-tilt-perspective='50', data-tilt-speed='350', data-tilt-max='1.8')
          .col-md-6
            .home-right
              .mobile-slid
                img.img-fluid(src= img +'top-mobile.png', alt='top1')
              .profile-msg
                img.img-fluid(src= '../../assets/images/top2.png', alt='top2')
              .awesome
                img.img-fluid(src= img +'top3.png', alt='top3')
              .profile-1
                img.img-fluid(src= img +'top4.png', alt='top4')
              .emoji
                img.img-fluid(src= '../../assets/images/top5.png', alt='top5')
              .profile-2
                img.img-fluid(src= img +'top1.png', alt='top1')
// end slider section