// package section
section#package.theme-bg
      .container
        .row
          .col-md-12.text-center
            .section-title
              h2.text-white Our Pricing Plans
              .line.white
          .col-md-12.text-center
            .plan-slider.owl-carousel.owl-theme
              .item
                .package-box
                  h3 Standard
                  .price-box
                    span $
                    h2 49
                    h5.plan-clr
                      span.d-block Year
                  .price-plan.text-center
                    ul
                      li 24/7 On-site Support
                      li real time sync
                      li unlimited attachment
                      li customize theme
                    .price-plan-btn Select Plan
              .item
                .package-box
                  h3 Premium
                  .price-box
                    span $
                    h2 59
                    h5.plan-clr
                      span.d-block Year
                  .price-plan.text-center
                    ul
                      li real time sync
                      li unlimited attachment
                      li customize theme
                      li priority email support
                    .price-plan-btn Select Plan
              .item
                .package-box
                  h3 Professional
                  .price-box
                    span $
                    h2 69
                    h5.plan-clr
                      span.d-block Year
                  .price-plan.text-center
                    ul
                      li 24/7 On-site Support
                      li real time sync
                      li customize theme
                      li priority email support
                    .price-plan-btn Select Plan
              .item
                .package-box
                  h3 Standard
                  .price-box
                    span $
                    h2 79
                    h5.plan-clr
                      span.d-block Year
                  .price-plan.text-center
                    ul
                      li 24/7 On-site Support
                      li unlimited attachment
                      li customize theme
                      li priority email support
                    .price-plan-btn Select Plan
              .item
                .package-box
                  h3 Extreme
                  .price-box
                    span $
                    h2 49
                    h5.plan-clr
                      span.d-block Year
                  .price-plan.text-center
                    ul
                      li 24/7 On-site Support
                      li real time sync
                      li customize theme
                      li priority email support
                    .price-plan-btn Select Plan
// end package section