// subscribe section
section.subscribe-bg
      .container
        .row
          .col-sm-12.col-lg-4
            .subscribe
              h3 Subscribe to Newsletter
          .col-sm-12.col-lg-8
            .email-box
              form#mc-embedded-subscribe-form.auth-form.needs-validation(action='https://pixelstrap.us19.list-manage.com/subscribe/post?u=5a128856334b598b395f1fc9b&id=082f74cbda', method='post', name='mc-embedded-subscribe-form', target='_blank')
                input#mce-EMAIL.form-control(name='EMAIL', placeholder='Your email address:', type='email', required='required')
                button#mc-submit.btn.btn-email(type='submit') Subscribe
// end subscribe section