// testimonail page
section#testimonial.testimonial
      .animation-circle-inverse
        i
        i
        i
      .container
        .row
          .col-md-12
            .testimonil-box
              .testimonial-slider.owl-carousel.owl-theme
                .item.testi-profile
                  .media
                    .animated-circle
                       img.img-fluid.align-self-center(src= img+'1.png', alt='1')
                    .media-body
                      h3.mt-0.sub-title Mark Jecno  (Designer & Devloper)
                      p
                        | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                .item.testi-profile
                  .media
                    .animated-circle
                       img.img-fluid.align-self-center(src= img+'1.png', alt='1')
                    .media-body
                      h3.mt-0.sub-title Mark Jecno  (Designer & Devloper)
                      p
                        | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                .item.testi-profile
                  .media
                    .animated-circle
                       img.img-fluid.align-self-center(src= img+'1.png', alt='1')
                    .media-body
                      h3.mt-0.sub-title Mark Jecno  (Designer & Devloper)
                      p
                        | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
// end testimonial section