- var img = "../../assets/images/"
- var src = "color1.css"
- var nav_url = "index.html"
doctype html
html(lang='en')
    head
      include ../../_assets/ltr/includes/header-files
    body.inner-page
      include ../../_assets/ltr/components/loader
      include ../../_assets/ltr/includes/nav
      .page-margin
        // breadcrumb start
        .breadcrumb-bg
          .container
            .row
              .col-md-6.col-sm-6.d-align-center
                h2.title
                  span  Review
              .col-md-6.col-sm-6
                nav.theme-breadcrumb(aria-label='breadcrumb')
                  ol.breadcrumb.bg-transparent.mb-0
                    li.breadcrumb-item
                      a(href='index.html') Home
                    li.breadcrumb-item.active
                      a(href='#') Review
        // breadcrumb end
        // review Section start
        section.review-block.blog-page
          .container
            .row.margin-bottom
              .col-lg-4.col-md-6
                .review-box
                  img.img-fluid(src='../../assets/images/review.png', alt='review')
                  h5 John Martin
                  .rating-star
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                  .review-message
                    p
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
              .col-lg-4.col-md-6
                .review-box
                  img.img-fluid(src='../../assets/images/review.png', alt='review')
                  h5 John Martin
                  .rating-star
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                  .review-message
                    p
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
              .col-lg-4.col-md-6
                .review-box
                  img.img-fluid(src='../../assets/images/review.png', alt='review')
                  h5 John Martin
                  .rating-star
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                  .review-message
                    p
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
              .col-lg-4.col-md-6
                .review-box
                  img.img-fluid(src='../../assets/images/review.png', alt='review')
                  h5 John Martin
                  .rating-star
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                  .review-message
                    p
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
              .col-lg-4.col-md-6
                .review-box
                  img.img-fluid(src='../../assets/images/review.png', alt='review')
                  h5 John Martin
                  .rating-star
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                  .review-message
                    p
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
              .col-lg-4.col-md-6
                .review-box
                  img.img-fluid(src='../../assets/images/review.png', alt='review')
                  h5 John Martin
                  .rating-star
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                  .review-message
                    p
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
          .animation-circle.absolute
            i
            i
            i
          .animation-circle-inverse
            i
            i
            i
        // review Section End
      include ../../_assets/ltr/includes/footer
      include ../../_assets/ltr/includes/footer-files