- var img = "../../assets/images/"
- var src = "color1.css"
- var nav_url = "index.html"
doctype html
html(lang='en')
    head
      include ../../_assets/ltr/includes/header-files
    body
      include ../../_assets/ltr/components/loader
      section.p-0
        .animation-circle-inverse
          i
          i
          i
        .thanks-bg
          .thank-you
            img.img-fluid(src='../../assets/images/thanks.gif', alt='thanks')
            h3.mb-4 Thank you for Downloading the ChatLoop!
      include ../../_assets/ltr/includes/footer-files