.row.blog-list
  .col-lg-6.col-md-12
    .item.news-slid
      a(href='blog-details.html')
        .news-box
          img.img-fluid(src='../../assets/images/blog/1.jpg', alt='news-1')
      .news-text
        .blog-hover
          h4 أبجد هوز دولور الجلوس امات
          ul.list-inline.blog-details-list
            li
              a(href='#') فلان الفلاني
            li
              a(href='#') 1 أكتوبر
            li
              a(href='#') 25 تعليقًا
            li
              a(href='#') 3 عرض
        p
          | حقيقة راسخة منذ فترة طويلة أن القارئ سيكون مشتت من محتوى مقروء للصفحة عند النظر في تخطيطها.
        a.btn-theme(href='blog-details.html') عرض المزيد
  .col-lg-6.col-md-12
    .item.news-slid
      a(href='blog-details.html')
        .news-box
          img.img-fluid(src='../../assets/images/blog/2.jpg', alt='news-1')
      .news-text
        .blog-hover
          h4 أبجد هوز دولور الجلوس امات
          ul.list-inline.blog-details-list
            li
              a(href='#') فلان الفلاني
            li
              a(href='#') 1 أكتوبر
            li
              a(href='#') 25 تعليقًا
            li
              a(href='#') 3 عرض
        p
          | حقيقة راسخة منذ فترة طويلة أن القارئ سيكون مشتت من محتوى مقروء للصفحة عند النظر في تخطيطها.
        a.btn-theme(href='blog-details.html') عرض المزيد
  .col-lg-6.col-md-12
    .item.news-slid
      a(href='blog-details.html')
        .news-box
          img.img-fluid(src='../../assets/images/blog/3.jpg', alt='news-1')
      .news-text
        .blog-hover
          h4 أبجد هوز دولور الجلوس امات
          ul.list-inline.blog-details-list
            li
              a(href='#') فلان الفلاني
            li
              a(href='#') 1 أكتوبر
            li
              a(href='#') 25 تعليقًا
            li
              a(href='#') 3 عرض
        p
          | حقيقة راسخة منذ فترة طويلة أن القارئ سيكون مشتت من محتوى مقروء للصفحة عند النظر في تخطيطها.
        a.btn-theme(href='blog-details.html') عرض المزيد
  .col-lg-6.col-md-12
    .item.news-slid
      a(href='blog-details.html')
        .news-box
          img.img-fluid(src='../../assets/images/blog/4.jpg', alt='news-1')
      .news-text
        .blog-hover
          h4 أبجد هوز دولور الجلوس امات
          ul.list-inline.blog-details-list
            li
              a(href='#') فلان الفلاني
            li
              a(href='#') 1 أكتوبر
            li
              a(href='#') 25 تعليقًا
            li
              a(href='#') 3 عرض
        p
          | حقيقة راسخة منذ فترة طويلة أن القارئ سيكون مشتت من محتوى مقروء للصفحة عند النظر في تخطيطها.
        a.btn-theme(href='blog-details.html') عرض المزيد
  .col-lg-6.col-md-12
    .item.news-slid
      a(href='blog-details.html')
        .news-box
          img.img-fluid(src='../../assets/images/blog/5.jpg', alt='news-1')
      .news-text
        .blog-hover
          h4 أبجد هوز دولور الجلوس امات
          ul.list-inline.blog-details-list
            li
              a(href='#') فلان الفلاني
            li
              a(href='#') 1 أكتوبر
            li
              a(href='#') 25 تعليقًا
            li
              a(href='#') 3 عرض
        p
          | حقيقة راسخة منذ فترة طويلة أن القارئ سيكون مشتت من محتوى مقروء للصفحة عند النظر في تخطيطها.
        a.btn-theme(href='blog-details.html') عرض المزيد
  .col-lg-6.col-md-12
    .item.news-slid
      a(href='blog-details.html')
        .news-box
          img.img-fluid(src='../../assets/images/blog/6.jpg', alt='news-1')
      .news-text
        .blog-hover
          h4 أبجد هوز دولور الجلوس امات
          ul.list-inline.blog-details-list
            li
              a(href='#') فلان الفلاني
            li
              a(href='#') 1 أكتوبر
            li
              a(href='#') 25 تعليقًا
            li
              a(href='#') 3 عرض
        p
          | حقيقة راسخة منذ فترة طويلة أن القارئ سيكون مشتت من محتوى مقروء للصفحة عند النظر في تخطيطها.
        a.btn-theme(href='blog-details.html') عرض المزيد
