.blog-details.news-slid
  .news-box
    img.img-fluid(src='../../assets/images/blog/1.jpg', alt='news-1')
  .news-text
    .blog-hover
      h4 أبجد هوز هو أن أكثر أو أقل
      ul.list-inline.blog-details-list
        li
          a(href='#') John Doe
        li
          a(href='#') 1 Oct
        li
          a(href='#') 25 comments
        li
          a(href='#') 3 View
    p
      | لوريم إيبسوم (أبجد هوز) هو ببساطة نص شكلي في صناعة الطباعة والتنضيد. لقد كان لوريم إيبسوم النص القياسي المعياري لهذه الصناعة منذ القرن السادس عشر ، عندما أخذت طابعة غير معروفة مجموعة من الأطباق ، وهرعت بها لعمل كتاب من نوع العينة. وقد نجا ليس فقط خمسة قرون ، ولكن أيضا قفزة في التنضيد الإلكتروني ، وتبقى في الأساس دون تغيير. تم تعميمها في الستينيات مع إصدار أوراق ليتر الأصول التي تحتوي على ممرات أبجد هوز ، ومؤخرًا مع برامج النشر المكتبي مثل وبالتالي الصفحة صانع بما في ذلك إصدارات أبجد هوز.
    p
      | لوريم إيبسوم (أبجد هوز) هو ببساطة نص شكلي في صناعة الطباعة والتنضيد. لقد كان لوريم إيبسوم النص القياسي المعياري لهذه الصناعة منذ القرن السادس عشر ، عندما أخذت طابعة غير معروفة مجموعة من الأطباق ، وهرعت بها لعمل كتاب من نوع العينة. وقد نجا ليس فقط خمسة قرون ، ولكن أيضا قفزة في التنضيد الإلكتروني ، وتبقى في الأساس دون تغيير. تم تعميمها في الستينيات مع إصدار أوراق ليتر الأصول التي تحتخرًا مع برامج النشر المكتبي مثل وبالتالي الصفحة صانع بما في ذلك إصدارات أبجد هوز.
.blog-divider
.reply-comment
  .media
    img.align-self-top.ml-3(src='../../assets/images/blog/blog-comment.jpg', alt='blog')
    .media-body
      a(href='#')
        h5 أرسلت بواسطة مارك  ، 0 الزيارات ، 0 تعليق
      p
        | لوريم إيبسوم (أبجد هوز) هو ببساطة نص شكلي في صناعة الطباعة والتنضيد. لقد كان لوريم إيبسوم النص القياسي المعياري لهذه الصناعة منذ القرن السادس عشر ، عندما أخذت طابعة غير معروفة مجموعة من الأطباق ، وهرعت بها لعمل كتاب من نوع العينة. وقد نجا ليس فقط خمسة قرون ، ولكن أيضا قفزة في التنضيد الإلكتروني ، وتبقى في الأساس دون تغيير. تم تعميمها في الستينيات مع إصدار أوراق ليتر الأصول التي تحتوي على ممرات أبجد هوز ، ومؤخرًا مع برامج النشر المكتبي مثل وبالتالي الصفحة صانع بما في ذلك إصدارات أبجد هوز.
  .media
    img.align-self-top.ml-3(src='../../assets/images/blog/blog-comment-two.jpg', alt='blog')
    .media-body
      a(href='#')
        h5 أرسلت بواسطة مارك  ، 0 الزيارات ، 0 تعليق
      p
        | لوريم إيبسوم (أبجد هوز) هو ببساطة نص شكلي في صناعة الطباعة والتنضيد. لقد كان لوريم إيبسوم النص القياسي المعياري لهذه الصناعة منذ القرن السادس عشر ، عندما أخذت طابعة غير معروفة مجموعة من الأطباق ، وهرعت بها لعمل كتاب من نوع العينة. وقد نجا ليس فقط خمسة قرون ، ولكن أيضا قفزة في التنضيد الإلكتروني ، وتبقى في الأساس دون تغيير. تم تعميمها في الستينيات مع إصدار أوراق ليتر الأصول التي تحتوي على ممرات أبجد هوز ، ومؤخرًا مع برامج النشر المكتبي مثل وبالتالي الصفحة صانع بما في ذلك إصدارات أبجد هوز.
  .media
    img.align-self-top.ml-3(src='../../assets/images/blog/blog-comment-three.jpg', alt='blog')
    .media-body
      a(href='#')
        h5 أرسلت بواسطة مارك  ، 0 الزيارات ، 0 تعليق
      p
        | لوريم إيبسوم (أبجد هوز) هو ببساطة نص شكلي في صناعة الطباعة والتنضيد. لقد كان لوريم إيبسوم النص القياسي المعياري لهذه الصناعة منذ القرن السادس عشر ، عندما أخذت طابعة غير معروفة مجموعة من الأطباق ، وهرعت بها لعمل كتاب من نوع العينة. وقد نجا ليس فقط خمسة قرون ، ولكن أيضا قفزة في التنضيد الإلكتروني ، وتبقى في الأساس دون تغيير. تم تعميمها في الستينيات مع إصدار أوراق ليتر الأصول التي تحتوي على ممرات أبجد هوز ، ومؤخرًا مع برامج النشر المكتبي مثل وبالتالي الصفحة صانع بما في ذلك إصدارات أبجد هوز.
.blog-divider
.row
  .col-md-10.offset-md-1.leave-coment
    h3.text-center اترك تعليقك
    form.theme-form.p-0.mt-3
      .form-group
        .row
          .col-lg-6.col-md-12.md-fgrup-margin
            input.form-control(type='text', placeholder='اسمك')
          .col-lg-6.col-md-12
            input#exampleFormControlInput1.form-control(type='email', placeholder='عنوان البريد الإلكتروني')
      .form-group
        textarea#exampleFormControlTextarea1.form-control(rows='4', placeholder='رسالة')
      .form-button
        button.btn.btn-theme.theme-color(type='submit') إرسال
