// download section
section.download-bg
      .container
        .row
          .col-xl-3.display-flex
            .footer-logo
              img.img-fluid(src='../../assets/images/footer-logo.png', alt='footer-logo')
          .col-xl-5.display-flex
            .download-text
              h3 Download the Chatloop app and enjoy it
          .col-xl-4.display-flex
            .download-img
              ul
                li
                  img.img-fluid(src= img+'app1.png', alt='foot-app', data-tilt='', data-tilt-perspective='50', data-tilt-speed='350', data-tilt-max='1.8')
                li
                  img.img-fluid(src= img+'app2.png', alt='foot-app1', data-tilt='', data-tilt-perspective='50', data-tilt-speed='350', data-tilt-max='1.8')
// end download section