- var img = "../../assets/images/color-5/"     
- var src = "color5.css"
- var nav_url = ""
doctype html
html(lang='en' dir='rtl')
    head
      include ../../_assets/rtl/includes/header-files
    body.rtl(data-spy='scroll', data-target='.navbar', data-offset='75')
      include ../../_assets/rtl/components/loader
      include ../../_assets/rtl/includes/nav
      include ../../_assets/rtl/components/home
      include ../../_assets/rtl/components/about
      include ../../_assets/rtl/components/feature
      include ../../_assets/rtl/components/how_it_works 
      include ../../_assets/rtl/components/screenshot
      include ../../_assets/rtl/components/work_place    
      include ../../_assets/rtl/components/price
      include ../../_assets/rtl/components/testimonial
      include ../../_assets/rtl/components/faq
      include ../../_assets/rtl/components/blog
      include ../../_assets/rtl/components/download
      include ../../_assets/rtl/components/contact    
      include ../../_assets/rtl/components/subscribe    
      include ../../_assets/rtl/includes/footer
      include ../../_assets/rtl/includes/footer-files

      // swiper js
      script(src='../../assets/js/swiper.min.js')
      //home page
      script(src='../../assets/js/scroll.js')
      script(src='../../assets/js/slider.js')