.blog-details.news-slid
  .news-box
    img.img-fluid(src='../../assets/images/blog/1.jpg', alt='news-1')
  .news-text
    .blog-hover
      h4 There are many variations of passages of Lorem Ipsum available
      ul.list-inline.blog-details-list
        li
          a(href='#') John Doe
        li
          a(href='#') 1 Oct
        li
          a(href='#') 25 comments
        li
          a(href='#') 3 View
    p
      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    p
      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
.blog-divider
.reply-comment
  .media
    img.align-self-top.mr-3(src='../../assets/images/blog/blog-comment.jpg', alt='blog')
    .media-body
      a(href='#')
        h5.mt-0 Lorem Ipsum Is Simply Dummy
      p
        | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.Donec sed odio dui.
  .media
    img.align-self-top.mr-3(src='../../assets/images/blog/blog-comment-two.jpg', alt='blog')
    .media-body
      a(href='#')
        h5.mt-0 Lorem Ipsum has been the
      p
        | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.Donec sed odio dui.
  .media
    img.align-self-top.mr-3(src='../../assets/images/blog/blog-comment-three.jpg', alt='blog')
    .media-body
      a(href='#')
        h5.mt-0 all the Lorem Ipsum Generator
      p
        | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
.blog-divider
.row
  .col-md-10.offset-md-1.leave-coment
    h3.text-center Leave Your Comment
    form.theme-form.p-0.mt-3
      .form-group
        .row
          .col-lg-6.col-md-12.md-fgrup-margin
            input.form-control(type='text', placeholder='your name')
          .col-lg-6.col-md-12
            input#exampleFormControlInput1.form-control(type='email', placeholder='email address')
      .form-group
        textarea#exampleFormControlTextarea1.form-control(rows='4', placeholder='message')
      .form-button
        button.btn.btn-theme.theme-color(type='submit') send
