// about section
section#about.pb-0.about
      .about-chat
        .container
          .row
            .col-md-12.text-center
              .section-title
                h2 حول دردشة حلقة
                .line
            .col-md-12.about-box
              .row
                .col-lg-3.col-sm-6.about-border
                  .chat-box
                    img(src= img+'stay-connected.png', alt='stay-connected')                    
                    h3.sub-title  ابق على اتصال
                .col-lg-3.col-sm-6.about-border
                  .chat-box
                    img(src= img+'get-notified.png', alt='get-notified')
                    h3.sub-title  الحصول على إخطار
                .col-lg-3.col-sm-6.about-border
                  .chat-box
                    img(src= img+'stay-updated.png', alt='stay-updated')
                    h3.sub-title تبقى محدثة
                .col-lg-3.col-sm-6
                  .chat-box
                    img(src= img+'mini-world.png', alt='mini-world')
                    h3.sub-title تبقى محدثة
            .col-md-12
              .chat-slide
                h3 تواصل مع الأشخاص في جميع أنحاء العالم باستخدام جهازك الصغير
      .container-fluid.text-center
        img.img-fluid.full-banner(src=img+'banner.png', alt='banner.png')
// end about section