// news section
section#news.team-bg
  .animation-circle-inverse
    i
    i
    i
  .container
    .row
      .col-md-12.text-center
        .section-title
          h2  مدونتنا الحديثة 
          .line
      .col-md-12
        .news-slider-rtl.owl-carousel.owl-theme
          .item.news-slid
            .news-box
              a(href='blog-details.html')
                img.img-fluid(src='../../assets/images/blog/1.jpg', alt='news-1')
              .blog-hover
                h4 أبجد هوز دولور الجلوس امات
                ul.list-inline.blog-details-list
                  li
                    a(href='#') فلان الفلاني
                  li
                    a(href='#') 1 أكتوبر
                  li
                    a(href='#') 25 تعليقًا
                  li
                    a(href='#') 3 عرض
            .news-text
              p
                | حقيقة راسخة منذ فترة طويلة أن القارئ سيكون مشتت من محتوى مقروء للصفحة عند النظر في تخطيطها.
              a.btn-theme(href='blog-details.html') عرض المزيد
          .item.news-slid
            .news-box
              a(href='blog-details.html')
                img.img-fluid(src='../../assets/images/blog/2.jpg', alt='news-1')
              .blog-hover
                h4 أبجد هوز دولور الجلوس امات
                ul.list-inline.blog-details-list
                  li
                    a(href='#') فلان الفلاني
                  li
                    a(href='#') 1 أكتوبر
                  li
                    a(href='#') 25 تعليقًا
                  li
                    a(href='#') 3 عرض
            .news-text
              p
                | حقيقة راسخة منذ فترة طويلة أن القارئ سيكون مشتت من محتوى مقروء للصفحة عند النظر في تخطيطها.
              a.btn-theme(href='blog-details.html') عرض المزيد
          .item.news-slid
            .news-box
              a(href='blog-details.html')
                img.img-fluid(src='../../assets/images/blog/3.jpg', alt='news-1')
              .blog-hover
                h4 أبجد هوز دولور الجلوس امات
                ul.list-inline.blog-details-list
                  li
                    a(href='#') فلان الفلاني
                  li
                    a(href='#') 1 أكتوبر
                  li
                    a(href='#') 25 تعليقًا
                  li
                    a(href='#') 3 عرض
            .news-text
              p
                | حقيقة راسخة منذ فترة طويلة أن القارئ سيكون مشتت من محتوى مقروء للصفحة عند النظر في تخطيطها.
              a.btn-theme(href='blog-details.html') عرض المزيد
// end news section
