section#faq.theme-bg.faq
  .container
    .row
      .col-md-12.text-center
        .section-title
          h2.text-white أسئلة شائعة
          .line.white
    .row.faq-row
      .col-lg-6
        #accordionExample.accordion
          .card.mb-3
            #headingzero.card-header
              h5.mb-0
                button.faq-link(type='button', data-toggle='collapse', data-target='#collapsezero', aria-expanded='false', aria-controls='collapsezero')
                  | 01 نحن على استعداد للبدء الآن
                  i.fa.fa-angle-down.pull-right
            #collapsezero.collapse(aria-labelledby='headingzero', data-parent='#accordionExample')
              .card-body
                | أبجد هوز الجزر، والحسومات معززة، لكنها تفعل ذلك الموسم وحيويةالتحرير عمل آخرون غير مؤلمة ماجنا بعض. على مر السنين، وممارسة، إلا أن العمل مدرسة حيوالتحصين معين من أصل لها ميزة وصفة. كان يرغب في إدانة في متعة الألم في الواجب المنزلي، ومع ذلك،
                | سبق ذكره السماء يكون الألم
          .card.mb-3
            #headingOne.card-header
              h5.mb-0
                button.faq-link(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                  | 02 سيوس مود الوقت وحث؟
                  i.fa.fa-angle-down.pull-right
            #collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#accordionExample')
              .card-body
                | أبجد هوز الجزر، والحسومات معززة، لكنها تفعل ذلك الموسم وحيويةالتحرير عمل آخرون غير مؤلمة ماجنا بعض. على مر السنين، وممارسة، إلا أن العمل مدرسة حيوالتحصين معين من أصل لها ميزة وصفة. كان يرغب في إدانة في متعة الألم في الواجب المنزلي، ومع ذلك،
                | سبق ذكره السماء يكون الألم
          .card.mb-3
            #headingTwo.card-header
              h5.mb-0
                button.faq-link(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                  | 03 سيوس مود الوقت وحث؟
                  i.fa.fa-angle-down.pull-right
            #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample')
              .card-body
                | أبجد هوز الجزر، والحسومات معززة، لكنها تفعل ذلك الموسم وحيويةالتحرير عمل آخرون غير مؤلمة ماجنا بعض. على مر السنين، وممارسة، إلا أن العمل مدرسة حيوالتحصين معين من أصل لها ميزة وصفة. كان يرغب في إدانة في متعة الألم في الواجب المنزلي، ومع ذلك،
                | سبق ذكره السماء يكون الألم
          .card
            #headingThree.card-header
              h5.mb-0
                button.faq-link(type='button', data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                  | 04 سيوس مود الوقت وحث؟
                  i.fa.fa-angle-down.pull-right
            #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
              .card-body
                | أبجد هوز الجزر، والحسومات معززة، لكنها تفعل ذلك الموسم وحيويةالتحرير عمل آخرون غير مؤلمة ماجنا بعض. على مر السنين، وممارسة، إلا أن العمل مدرسة حيوالتحصين معين من أصل لها ميزة وصفة. كان يرغب في إدانة في متعة الألم في الواجب المنزلي، ومع ذلك،
                | سبق ذكره السماء يكون الألم
      .col-lg-6.text-center
        img.img-fluid(src=img+'faq.png', alt='')
