// Feature section
section#feature.theme-bg.feature
  .container
    .animation-circle-inverse
      i
      i
      i
    .row
      .col-md-12.text-center
        .section-title
          h2.text-white  ميزة حلقة الدردشة
          .line.white
      .col-lg-4.col-sm-6
        .future-box
          .future-timeline
            ul
              li.timeline
                h4.sub-title سهل التركيب
                p كان أبجد هوز في الصناعة
              li.timeline
                h4.sub-title موضوع منصة الدردشة التطبيق
                p كان أبجد هوز في الصناعة
              li.timeline
                h4.sub-title  تأمين النسخ الاحتياطي والاسترداد
                p العديد من حزم النشر المكتبي
              li.timeline
                h4.sub-title من السهل مشاركة الملفات
                p كان أبجد هوز في الصناعة
      .col-md-4.future-mobile
        img.img-fluid(src=img+'feature-mob.png', alt='feature-mob')
      .col-lg-4.col-sm-6
        .future-box
          .future-timeline-right
            ul.text-left
              li.timeline-right
                h4 سهل التركيب
                p كان أبجد هوز في الصناعة
              li.timeline-right
                h4 موضوع منصة الدردشة التطبيق
                p كان أبجد هوز في الصناعة
              li.timeline-right
                h4 آمن النسخ الاحتياطي والاسترداد
                p Many desktop publishing packages
              li.timeline-right
                h4 من السهل مشاركة الملفات
                p كان أبجد هوز في الصناعة
// end Feature section
