// package section
section#package.theme-bg
  .container
    .row
      .col-md-12.text-center
        .section-title
          h2.text-white خطط التسعير لدينا
          .line.white
      .col-md-12.text-center
        .plan-slider-rtl.owl-carousel.owl-theme
          .item
            .package-box
              h3  دراجات 
              .price-box
                span $
                h2 49
                h5.plan-clr
                  | .56
                  span.d-block عام
              .price-plan.text-center
                ul
                  li دعم على مدار 24/7 في الموقع
                  li المزامنة في الوقت الفعلي
                  li مرفق غير محدود
                  li مرفق غير محدود
                .price-plan-btn اختر خطة
          .item
            .package-box
              h3 علاوة
              .price-box
                span $
                h2 59
                h5.plan-clr
                  | .56
                  span.d-block عام
              .price-plan.text-center
                ul
                  li المزامنة في الوقت الفعلي
                  li  مرفق غير محدود
                  li  تخصيص السمة
                  li  دعم البريد الإلكتروني للأولوية
                .price-plan-btn اختر خطة
          .item
            .package-box
              h3 علاوة
              .price-box
                span $
                h2 59
                h5.plan-clr
                  | .56
                  span.d-block عام
              .price-plan.text-center
                ul
                  li المزامنة في الوقت الفعلي
                  li  مرفق غير محدود
                  li  تخصيص السمة
                  li  دعم البريد الإلكتروني للأولوية
                .price-plan-btn اختر خطة
          .item
            .package-box
              h3 علاوة
              .price-box
                span $
                h2 59
                h5.plan-clr
                  | .56
                  span.d-block عام
              .price-plan.text-center
                ul
                  li المزامنة في الوقت الفعلي
                  li  مرفق غير محدود
                  li  تخصيص السمة
                  li  دعم البريد الإلكتروني للأولوية
                .price-plan-btn اختر خطة
          .item
            .package-box
              h3 علاوة
              .price-box
                span $
                h2 59
                h5.plan-clr
                  | .56
                  span.d-block عام
              .price-plan.text-center
                ul
                  li المزامنة في الوقت الفعلي
                  li  مرفق غير محدود
                  li  تخصيص السمة
                  li  دعم البريد الإلكتروني للأولوية
                .price-plan-btn اختر خطة
// end package section
