//- Screenshots start
section#screenshots.theme-bg.screenshots
  .animation-circle
    i
    i
    i
  .container
    .row
      .col-md-12.text-center
        .section-title
          h2.text-white دردشة حلقة شاشة بالرصاص
          .line.white
    .row
      .col-sm-12
        .swiper-screenshots-container-1.swiper-container
          .swiper-wrapper
                .swiper-slide
                  img(src= img+'ss/1.png', alt='1')
                .swiper-slide
                  img(src= img+'ss/2.png', alt='2')
                .swiper-slide
                  img(src= img+'ss/3.png', alt='3')
                .swiper-slide
                  img(src= img+'ss/4.png', alt='4')
                .swiper-slide
                  img(src= img+'ss/1.png', alt='5')
                .swiper-slide
                  img(src= img+'ss/2.png', alt='5')
//- Screenshots ends