// testimonail page
section#testimonial.testimonial
  .animation-circle-inverse
    i
    i
    i
  .container
    .row
      .col-md-12
        .testimonil-box
          .testimonial-slider-rtl.owl-carousel.owl-theme
            .item.testi-profile
              .media
                .animated-circle
                  img.img-fluid.align-self-center(src= img+'1.png', alt='1')
                .media-body
                  h3.mt-0.sub-title مارك جيسي (مصمم ومطور)
                  p
                    | غدا الجزر الفرعية ح الحرة في غير الحوامل. لا الشوكولاته أو الإكراه على الرعاية.
                    | غدا الكراهية الفلفل الحار والتصنيع سن منظمة المؤتمر الإسلامي في ذلك الوقت من
                    | فيلم الرسوم المتحركة. صلصة السريرية الآن وإنقاذ حامل؛ حبلى الذاتية. قرض لك حتى
                    | الغاز في الحلق.
            .item.testi-profile
              .media
                .animated-circle
                  img.img-fluid.align-self-center(src= img+'1.png', alt='1')
                .media-body
                  h3.mt-0.sub-title مارك جيسي (مصمم ومطور)
                  p
                    | غدا الجزر الفرعية ح الحرة في غير الحوامل. لا الشوكولاته أو الإكراه على الرعاية.
                    | غدا الكراهية الفلفل الحار والتصنيع سن منظمة المؤتمر الإسلامي في ذلك الوقت من
                    | فيلم الرسوم المتحركة. صلصة السريرية الآن وإنقاذ حامل؛ حبلى الذاتية. قرض لك حتى
                    | الغاز في الحلق.
            .item.testi-profile
              .media
                .animated-circle
                  img.img-fluid.align-self-center(src= img+'1.png', alt='1')
                .media-body
                  h3.mt-0.sub-title مارك جيسي (مصمم ومطور)
                  p
                    | غدا الجزر الفرعية ح الحرة في غير الحوامل. لا الشوكولاته أو الإكراه على الرعاية.
                    | غدا الكراهية الفلفل الحار والتصنيع سن منظمة المؤتمر الإسلامي في ذلك الوقت من
                    | فيلم الرسوم المتحركة. صلصة السريرية الآن وإنقاذ حامل؛ حبلى الذاتية. قرض لك حتى
                    | الغاز في الحلق.
// end testimonial section
