title Chatloop | Mobile App Landing HTML Templates
meta(charset='utf-8')
meta(name='description', content='Chat Loop Apps Template from pixelstrap')
meta(name='keywords', content='Chat Loop Apps Template from pixelstrap')
meta(name='author', content='App')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
// favicon
link(rel='shortcut icon', href= img+'favicon.png')
// Font Family
link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900', rel='stylesheet')
// Bootstrap CSS
link(rel='stylesheet', href='../../assets/css/bootstrap.min.css')
// Animation CSS
link(rel='stylesheet', href='../../assets/css/animate.min.css')
// Owl carousel .css
link(rel='stylesheet', href='../../assets/css/owl.carousel.min.css')
link(rel='stylesheet', href='../../assets/css/owl.theme.default.min.css')
// font-awesome css
link(rel='stylesheet', href='../../assets/css/font-awesome.min.css')
// swiper slider
link(rel='stylesheet', href='../../assets/css/swiper.min.css')
// Style .css
link#color(rel='stylesheet', href= '../../assets/css/'+src, media='screen')